bash/
cmus/
fd/
firefox/
git/
i3blocks/
kitty/
less/
mpd/
neomutt/
newsboat/
nnn/
ranger/
task/
tmux/
vifm/
vim/
bin/.local/bin/homebrew/
nvim/.config/nvim/plugin/packer_compiled.lua
zsh/.config/zsh/.zcompdump*
*.log
mopidy/.config/mopidy/podcast/
